@page
@model DarkMarket.Areas.Identity.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<form id="logoutForm" method="post"></form>

<script>
    document.getElementById('logoutForm').submit();
</script>