@page "/teste"
<h1>Teste Blazor</h1>

<EditForm Model="@user" OnValidSubmit="TestSubmit">
    <InputText @bind-Value="user.Username" />
    <button type="submit">Testar Submit</button>
</EditForm>

@code {
    private User user = new User();
    private void TestSubmit()
    {
        Console.WriteLine("Submit funcionou!");
    }
}